

/* Styling for the main container */
.contact-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
    max-width: 800px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 7rem;
    height: 60vh; 
  }
  
  .c-left {
    display: flex;
    align-items: center;
  }
  
  .awesome {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .awesome span:last-child {
    display: block;
    font-size: 14px;
    font-weight: normal;
  }
  .c-right {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 1rem;
  }
  
  .user,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .c-button {
    display: block;
    width: 100%;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  span {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #4caf50;
  }
  @media screen and (max-width: 600px) {
    .contact-form {
      flex-direction: column;
    }
    .c-right {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  @media screen  and (max-width:480px) {
    .contact-form{
        display: flex;
        flex-direction: column; 
        height: auto;
    }
    .c-left .awesome span{
      margin-left: 0rem;
        margin-right: 0rem;
    }
    .c-right{
        margin-top: 2rem;
    }
    
} 
  